<mat-sidenav-container class='container'>
    <mat-sidenav class='sidenav' mode='side' opened fixedInViewport='true' fixedTopGap='64'>
        <mat-nav-list class='nav-list'>
            <a mat-list-item>
                <div class="center">
                    <i class='material-icons white'>
                        home
                    </i>
                    <span class='white'>
                        Início
                    </span>
                </div>
            </a>
            <a mat-list-item>
                <div class="center">
                    <i class='material-icons white'>
                        storefront
                    </i>
                    <span class='white'>
                        Produtos
                    </span>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>