.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.white {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.center {
    display: flex; 
    align-items: center;
}

.content {
    padding: 16px;
    background-color: #FFF;    
}